.very_happy {
  background-image: url("very_happy.jpg");
  background-repeat: no-repeat;
  border: none;
  height: 200px;
  width: 200px;
}
.happy {
  background-image: url("happy.jpg");
  background-repeat: no-repeat;
  border: none;
  height: 200px;
  width: 200px;
}
.sad {
  background-image: url("sad.jpg");
  background-repeat: no-repeat;
  border: none;
  height: 200px;
  width: 200px;
}
.very_sad {
  background-image: url("very_sad.jpg");
  background-repeat: no-repeat;
  border: none;
  height: 200px;
  width: 200px;
}
